 <div id="page-wrapper">
            <div class="row">
			<!-- <form class="fromlist"> -->
      <%= form_for @medication, :url => {:action => "create" },  :html => {class: 'fromlist' } do |f| %>
      
			<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
  <%= f.text_field :name,:class=>"form-control",:placeholder => "Name" %>
  </div>
  <div class="form-group ">
    <%= f.text_field :address,:class=>"form-control",:placeholder => "Address" %>
  </div>


  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
  <%= f.text_field :identified_by,:class=>"form-control",:placeholder => "Identified By" %>
  </div>
  <div class="form-group">
     <%= f.text_field :allergies,:class=>"form-control",:placeholder => "Allergies" %>
  </div>

  </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
	 <div class="form-group">
    <%= f.text_field :diagbosis,:class=>"form-control",:placeholder => "Diagbosis" %>
  </div>
	</div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	 <div class="form-group">
    <%= f.text_field :special_instruction,:class=>"form-control",:placeholder => "Special Instruction" %>
  </div>
	</div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	 <div class="form-group">
    <%= f.text_field :emergency_medications,:class=>"form-control",:placeholder => "Emergency medications" %>
  </div>
	</div>
	   <div class="col-md-12 col-sm-12 col-lg-12">
	 <div class="form-group">
    <input type="text" class="form-control" placeholder="Behaviours demonstrated for PRN meds">
    <%= f.text_field :behaviours_meds,:class=>"form-control",:placeholder => "Behaviours demonstrated for PRN meds" %>


  </div>
	</div>
  <div class="col-md-12 col-sm-12 col-lg-12 medicaldicsnew">Medication Routes:</div>
  <div class="col-md-12 col-sm-12 col-lg-12 newcheck">
	<ul>
		<li>
  <div class="radio">
  <label>
    <%= f.label :Vaginal,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :vaginal %>  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Inhaler,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :inhaler %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Otic_Rt_eye_Lt_eye,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :optic_eye %>
  </label>
</div>

</li>
<li>
<div class="radio">
   <%= f.label :Rectal,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :rectal %>
  </label>
</div>

</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Subcutaneous,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :subcutaneous %>
  </label>
</div>

</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Sublingual,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :sublingual %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Nebulizer,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :nebulizer %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
 <%= f.label :Otic_Rt_eye_Lt_ear,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :optic_ear %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
    <%= f.label :Vaginal,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :vaginal %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
   <%= f.label :Insulin,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :insulin %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
   <%= f.label :Glucagon,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :glucagon %>
  </label>
</div>
</li>
<li>
<div class="radio">
  <label>
    <%= f.label :EpiPen,:class=>"control-label"  %>
      <div class="col-sm-1  inputGroupContainer">
      <%= f.check_box :epipen %>
  </label>
</div>
</li>
</ul>
  </div>
     <div class="col-md-12 col-sm-12 col-lg-12">
	 <div class="form-group">
    <%= f.text_field :other,:class=>"form-control",:placeholder => "Other" %>
  </div>
	</div>
  			<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
  <%= f.text_field :date_of_training,:class=>"form-control",:placeholder => "Date Of Training" %>
  </div>
  <div class="form-group plusinput">
    <%= f.text_field :signature_of_dd,:class=>"form-control",:placeholder => "Signature of DD Person receiving traning" %>
  </div>

<div class="form-group">
    <%= f.text_field :date_first_compleated_person,:class=>"form-control",:placeholder => "Date First completed by Person" %>
  </div>
<div class="form-group">
    <%= f.text_field :date_of_update,:class=>"form-control",:placeholder => "Date of Update/Changes" %>
  </div>
  </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
  <div class="form-group">
  <%= f.text_field :time,:class=>"form-control",:placeholder => "Time" %>
  </div>
  <div class="form-group plusinput">
    <%= f.text_field :signature_of_trainer,:class=>"form-control",:placeholder => "Signature of Trainer" %>
  </div>
<div class="form-group">
    <%= f.text_field :date_of_update,:class=>"form-control",:placeholder => "Date of Update/Changes" %>
  </div>
<div class="form-group">
     <%= f.text_field :date_of_update,:class=>"form-control",:placeholder => "Date of Update/Changes" %>
  </div>
  </div>
  <div href="">
    <%= f.submit 'Add New Section', class: "btn btn-info" %>
  </div>
  <% end %>
</form>
					
</div>